#Container {
  width: 100%;
  height: 90%;
}
#Explorer {
  width: 20%;
  float: left;
  height: 100%;
}
#Main {
  width: 60%;
  float: left;
  height:100%;
}
#Note {
  width: 25%;
  float: left;
  height:100%;
}
#Notes {
  width: 15%;
  float: left;
  height:100%;
}
.activeNote {
  width: 100%;
  color: gray;
}
.passiveNote {
  width: 100%;
  color:black;
}
.openNote {
  width: 100%;
  font-style:italic;
}
.sec {
  width: 100%;
}
